<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./header.ejs') %> 
</head>
<body>
    <div>
        <%- include('./nav.ejs') %> 
    </div>
<div>
        <p> <%= Arr3[0].getBody() %></p>
</div>
    <a href="/home"<%= Blogs %>>Back</a>
    <div>
        <%- include('./footer.ejs') %> 
    </div>

         
</body>
</html>